.login-page {
    min-height: 100vh;
    background: #eee;
}

.login-form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.login-form h1 {
    text-align: center;
    display: block;
    font-size: 22px;
    width:100px ;
    margin-bottom: 20px;
}

.post-content img{
    max-width: 100%;
}